body{
  background-color: #EDE8E4;

}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}


header{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;


}

.logos img{
  height: 20px;
  width: 20px
}

.landing-page-container{
  width: 1010px;
  height: 585px;
  background-color: white;
  align-self: center;
  border-radius: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  /* position: fixed; */
  top: 150px;
}

section{
  font-size: 20px;
  align-self: center;
  margin-top: 100px;
}

.about-container{
  width: 1010px;
  height: 585px;
  background-color: white;
  align-self: center;
  border-radius: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.about-nav{
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
}

.brand-statement-container{
  width: 439px;
  height: 479;
  border-radius: 30px;
}

.brand-statement-container p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.headshot{
  width: 285px;
  height: 332px;
}








.projects-container{
  width: 1010px;
  height: 585px;
  background-color: white;
  align-self: center;
  border-radius: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container{
  width: 1010px;
  height: 585px;
  background-color: white;
  align-self: center;
  border-radius: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}