@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  background-color: #7EA3CC;
  scroll-snap-type: y proximity ;
  overflow-y: scroll;


}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  
}

h1, nav, .about-nav, .title{
  font-family: 'Montserrat', sans-serif;
}

.slidingVertical, .brand-statement-container, .text-description  {
  font-family: 'Lora', serif;
}

header{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;


}

.logos img{
  height: 20px;
  width: 20px
}

a{
  text-decoration: none;
  color: black;
}

.card-nav:hover{
  text-decoration: underline;
}

.card-nav{
  font-size: 18px;
}

h2 a:hover{
  text-decoration: underline;
}

a:active{
  color: rgb(119, 0, 255);
}

.landing-page-container{
  scroll-snap-align: center;
  width: 1100px;
  height: 637px;
  background-color: white;
  align-self: center;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 5px rgb(91, 91, 91);
  background: url('./images/whitecomputer-best.jpg');
  background-size: cover;
}

.landing-page-container:hover{
  box-shadow: 5px 10px 5px black;
  border: 1px solid black;

}

nav{
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  top: 150px;
}

nav div{
  font-size: 18px;
  padding-top: 10px;
  width: 100px;
  /* height: 50px; */
}

nav div:hover{
  text-decoration: underline;
}

section{
  font-size: 20px;
  align-self: center;
}


.slidingVertical{
  display: block;
  font-size: 40px;
}

.slidingVertical span{
  animation: topToBottom 7.5s linear infinite 0s;
  position: absolute;
  opacity: 0;
  margin-top: 140px;
  width: 100vw;
  right: 0.5em;
}

.slidingVertical span:nth-child(2){
  animation-delay: 2.5s
}
.slidingVertical span:nth-child(3){
  animation-delay: 5s
}

@keyframes topToBottom{
  0% {opacity: 0;}
  5% {opacity: 0; transform: translateY(-50px)}
  10% {opacity: 1; transform: translateY(0px)}
  25% {opacity: 1; transform: translateY(0px)}
  30% {opacity: 0;transform: translateY(50px)}
  80% {opacity: 0;}
  100% {opacity: 0;}
}




.about-container{
  box-shadow: 5px 10px 5px rgb(91, 91, 91);
  scroll-snap-align: center;
  width: 1100px;
  height: 637px;
  background-color: white;
  align-self: center;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container:hover{
  box-shadow: 5px 10px 5px black;
  border: 1px solid black;

}

.about-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-content .title{
  margin-bottom: 50px;
}

.framework-logos{
  height: 300px;
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.about-nav{
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-left: 120px;
}

#projects-nav{
  margin-top: 20px;
  
}

.about-nav p{
  width: 100px;
}

.about-nav div{
  display: flex;
  margin-right: 120px;
}

.brand-statement-container{
  width: 500px;
  border-radius: 30px;
}

.brand-statement-container p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

}

.headshot{
  width: 285px;
  height: 332px;
}










.projects-container{
  scroll-snap-align: center;
  box-shadow: 5px 10px 5px rgb(91, 91, 91);
  width: 1100px;
  height: 637px;
  background-color: white;
  align-self: center;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.projects-container:hover{
  box-shadow: 5px 10px 5px black;
  border: 1px solid black;

}

.projects-container .title{
  margin-bottom: 50px;
}

.project-card{
  border: 1px solid black;
  border-radius: 20px;
  /* margin: 15px; */
  background-color: white;
  position: relative;
  box-shadow: 2px 5px 2px rgb(91, 91, 91);
  transition: .5s ease;
  margin-bottom: 65px;

}

.project-card:hover{
  box-shadow: 5px 10px 5px black;

}


.project-card:hover .hover-text{
  opacity: 1;
}

.project-card img{
  width: 350px;
  height: 200px;
  margin: 15px;
  border-radius: 10px;
  opacity: 1;
  display: block;

}

.hover-text{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .5 ease;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: 20px;

}

.text-description{
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%
}

.text-description a{
  margin-right: 20px;
  text-decoration: underline;
}

.all-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
}













.contact-container{
  scroll-snap-align: center;
  box-shadow: 5px 10px 5px rgb(91, 91, 91);
  width: 1100px;
  height: 637px;
  background-color: white;
  align-self: center;
  border-radius: 20px;
  margin-bottom: 60px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container:hover{
  box-shadow: 5px 10px 5px black;
  border: 1px solid black;

}

.contact a{
  text-decoration: underline;
  margin: 50px;
}

.contact .title{
  margin: 0;
  margin-bottom: 20px;
}

.contact {
  margin-bottom: 20px;
}

.about-logo{
  width: 100px;
margin: 25px;
}

.line{
  border-bottom: 1px solid black;
  width: 80%;
}

/* Media Queries */

/* Tablet Media Queries */

@media only screen and (max-width: 768px){
  html{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .landing-page-container, .about-container, .projects-container, .contact-container{
    width: 700px;
    margin: 0;
    margin-top: 30px;
  }

  .slidingVertical{
    font-size: 30px;
  }

  .slidingVertical span{
    right: -110px;
    margin-top: 110px
  }

  .about-logo{
    width: 60px;
  }

  .brand-statement-container{
    width: 90%;
  }

  .brand-statement-container p{
    font-size: 16px;
  }

  .headshot{
    max-width: 200px;
    height: auto;
  }

  .about-section{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .text-description{
    color: black;
    text-align: center;
    width: 100%
  }

  .text-description h3 {
    font-size: 30px;
    margin: 0px;
  }

  .text-description p, .text-description a{
    font-size: 20px;
  }

  .projects-container{
    overflow: visible;

  }

  .project-card{
    background: transparent;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .hover-text{
    opacity: 1;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
  
  }

  .projects-container{
    height: 2700px;
    justify-content: space-around;
  }

  .projects-container .title{
    margin: 0px;
  }

  .projects-container .about-nav{
    height: 20px;
  }

  
}


/* Phone (iPhone 6/7/8) Media Query */

@media only screen and (max-width:  375px){
  body{
    background-color: #7EA3CC;
    margin: 0px;
    padding: 0px;
    overflow: visible;
  }

  nav, header, h2, p, div{
    padding: 0px;
  }
  
  .logos{
    display: none;
  }  

  header{
    height: auto;
    top: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
  }

  .about-container, .landing-page-container, .contact-container, .projects-container{
    width: 350px;
    height: 600px;
    margin-top: 33.5px;
    margin-bottom: 33.5px;
    border-radius: 5px;
    align-self: center;
  }

  .landing-page-container{
    background: url('./images/computerplant-best.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
  }

  .about-container:hover, .landing-page-container:hover, .contact-container:hover, .projects-container:hover{
    border: none;
  }

  .about-container{
    height: 700px;
  }

  .projects-container .about-nav{
    height: 100px;
    margin-top: 0px;
  }

  #projects-nav{
    margin-top: 0px;
  }

  .slidingVertical span{
    position: static;
    animation-name: none;
    margin-top: 0;
    height: auto;
    width: auto;
    opacity: 1;
    font-size: 25px;
    font-weight: bold;

  }

  .slidingVertical{
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-top: 10px;
  }

  nav{
    width: 100%;

  }

  .about-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0px;
  }

  .about-nav div, .about-nav p, .about-nav h2{
    margin: 0px;
  }

  .about-content{
    width: 350px;
  }

  .about-content .title{
    margin-bottom: 0px;
    display: none;
  }

  .about-section{
    flex-direction: column;
    height: 100%
  }

  .headshot{
    max-height: 200px;
    width: auto;
    border-radius: 30px;
  }

  .brand-statement-container p{
    width: 330px;
    height: 300px;
    margin: 0px;
    text-align: center;
  }
  .brand-statement-container{
    width: auto;
    height: 330px;
  }

  .about-logo{
    width: 60px;
    height: auto;
    margin: 5px;
  }

  .framework-logos{
    height: auto;
    margin-top: 20px;
  }

  .contact{
    width: 100%;
  }

  .contact a{
    margin: 0px;
    margin-right: 10px;
  }

  .projects-container{
    overflow: visible;
    height: 2100px;

  }

  .project-card{
    max-width: 300px;
    /* height: auto; */
    background: transparent;
    box-shadow: none;
    border: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0px;
  }

  .project-card img{
    max-width: 300px;
    height: auto;
    margin: 0px;
    border-radius: 5px;
    margin-top: 20px;

  }

  .text-description{
    color: black;
    text-align: center;
    width: 100%
  }

  .text-description h3 {
    font-size: 30px;
    margin: 0px;
  }

  .text-description p, .text-description a{
    font-size: 20px;
  }

  .hover-text{
    opacity: 1;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
  
  }

  .projects-container .title{
display: none;
  }

}

@media screen and (min-width: 376px) and (max-width: 425px){
  body{
    background-color: #7EA3CC;
    margin: 0px;
    padding: 0px;
    overflow: visible;
  }

  nav, header, h2, p, div{
    padding: 0px;
  }
  
  .logos{
    display: none;
  }  

  header{
    height: auto;
    top: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
  }

  .about-container, .landing-page-container, .contact-container, .projects-container{
    width: 350px;
    height: 600px;
    margin-top: 33.5px;
    margin-bottom: 33.5px;
    border-radius: 5px;
    align-self: center;
  }

  .landing-page-container{
    background: url('./images/computerplant-best.jpg');
    background-size: 100% 130%;
    background-repeat: no-repeat;
  }

  .about-container:hover, .landing-page-container:hover, .contact-container:hover, .projects-container:hover{
    border: none;
  }

  .about-container{
    height: 650px;
  }

  .slidingVertical span{
    position: static;
    animation-name: none;
    margin-top: 0;
    height: auto;
    width: auto;
    opacity: 1;
    font-size: 25px;
    font-weight: bold;

  }

  .slidingVertical{
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-top: 10px;
  }

  nav{
    width: 100%;

  }

  .about-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0px;
  }

  .about-container .about-nav{
    margin-top: 20px;
  }

  .about-nav div, .about-nav p, .about-nav h2{
    margin: 0px;
  }

  .about-content{
    width: 200px;
  }

  .about-content .title{
    margin-bottom: 0px;
    display: none;
  }

  .about-section{
    flex-direction: column;
    width: 350px;
    height: 100%
  }

  .about-container{
    height: 700px;
  }
  .headshot{
    max-height: 200px;
    width: auto;
    border-radius: 30px;
  }

  .brand-statement-container p{
    width: 330px;
    height: 300px;
    margin: 0px;
    text-align: center;
  }
  .brand-statement-container{
    width: auto;
    height: 330px;
  }

  .about-logo{
    width: 60px;
    height: auto;
    margin: 5px;
  }

  .framework-logos{
    height: 400px;
    margin-top: 20px;
  }

  .contact{
    width: 100%;
  }

  .contact .title{
    font-size: 20px;
  }

  .contact a{
    margin: 0px;
    margin-right: 10px;
  }

  .contact-container .about-nav{
    margin-top: 20px;
  }

  .projects-container{
    overflow: visible;
    height: 1900px;

  }

  .project-card{
    background: transparent;
    box-shadow: none;
    border: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0px;
    
  }

  .project-card img{
    max-width: 300px;
    height: auto;
    border-radius: 5px;
  }

  .projects-container .about-nav{
    height: 90px;
  }

  .text-description{
    color: black;
    text-align: center;
    width: 100%
  }

  .text-description h3 {
    font-size: 20px;
    margin: 0px;
  }

  .text-description p, .text-description a{
    font-size: 16px;
  }

  .hover-text{
    opacity: 1;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
  
  }

  .projects-container .title{
display: none;
  }
}